@import url('./main-layout.css');
@import url('./views/person-form-view.css');
@import url('./views/gridwith-filters-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

a[highlight] {
    color: var(--lumo-primary-text-color);
    background-color: var(--lumo-primary-color-10pct);
}

a:hover {
    text-decoration: none;
}
a vaadin-icon {
    font-size: 60%;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left: 5px;
}

a vaadin-icon {
    margin-right: 10px;
    justify-self: center;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    text-decoration: none;
    margin: 0;
}